<div class="container mb10 pt30">
    <div class="row special-feature">
        <div class="col-md-3 col-sm-6 margin20">
            <div class="s-feature-box text-center" onclick="window.open('/api/{{site.versionString}}/','_blank');">
                <div class="mask-top">
                    <i class="fa fa-code"></i>
                    <h4>API Reference</h4>
                </div>
                <div class="mask-bottom">
                    <i class="fa fa-code"></i>
                    <h4>API Reference</h4>
                    <p>Detailed API docs for all libraries including DL4J, ND4J, DataVec, and Arbiter.</p>
                </div>
            </div>

        </div>
        <div class="col-md-3 col-sm-6 margin20">
            <div class="s-feature-box text-center" onclick="window.open('https://github.com/deeplearning4j/dl4j-examples','_blank');">
                <div class="mask-top">
                    <i class="fa fa-folder"></i>
                    <h4>Examples</h4>
                </div>
                <div class="mask-bottom">
                    <i class="fa fa-folder"></i>
                    <h4>Examples</h4>
                    <p>Explore sample projects and demos for DL4J, ND4J, and DataVec in multiple languages including Java and Kotlin.</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 margin20">
            <div class="s-feature-box text-center" onclick="window.open('https://github.com/deeplearning4j/deeplearning4j/tree/master/deeplearning4j/dl4j-examples/tutorials','_blank');">
                <div class="mask-top">
                    <i class="fa fa-file-code"></i>
                    <h4>Tutorials</h4>
                </div>
                <div class="mask-bottom">
                    <i class="fa fa-file-code"></i>
                    <h4>Tutorials</h4>
                    <p>Step-by-step tutorials for learning concepts in deep learning while using the DL4J API.</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 margin20">
            <div class="s-feature-box text-center" onclick="window.location='/docs/{{ site.versionString }}/';">
                <div class="mask-top">
                    <i class="fa fa-book"></i>
                    <h4>Guide</h4>
                </div>
                <div class="mask-bottom">
                    <i class="fa fa-book"></i>
                    <h4>Guide</h4>
                    <p>In-depth documentation on different scenarios including import, distributed training, early stopping, and GPU setup.</p>
                </div>
            </div>
        </div>
    </div>
</div>