<!-- Footer -->
<footer class="site-footer">
  <div class="container">
    <a id="scroll-up" href="#"><i class="fa fa-angle-up"></i></a>

    <div class="row">

      <div class="col-md-6 col-sm-6">
        <ul class="footer-menu">
          <li><a href="https://github.com/deeplearning4j/">Github</a></li>
          <li><a href="https://twitter.com/deeplearning4j">Tweets</a></li>
          <li><a href="https://www.facebook.com/deeplearning4j/">Facebook</a>
          <li><a href="../cn/index"
            data-ga-event="click"
            data-ga-category="Click/Footer"
            data-ga-action="GoTo/Chinese"
            data-ga-label="Clicks">中文</a></li>
          <li><a href="../ja-index"
            data-ga-event="click"
            data-ga-category="Click/Footer"
            data-ga-action="GoTo/Japanese"
            data-ga-label="Clicks">日本語</a></li>
          <li><a href="../kr-index"
            data-ga-event="click"
            data-ga-category="Click/Footer"
            data-ga-action="GoTo/Korean"
            data-ga-label="Clicks">한글</a></li>
          <li><a href="http://nd4j.org/">ND4J</a></li>
        </ul>
      </div>
      <div class="col-md-6 col-sm-6">
        <p>Copyright &copy; 2017. <a href="https://www.skymind.io"
            data-ga-event="click"
            data-ga-category="Click/Footer"
            data-ga-action="GoTo/Skymind"
            data-ga-label="Clicks">Skymind</a>. DL4J is licensed Apache 2.0.</p>
      </div>
    </div>
  </div>
</footer>
<!-- END Footer -->

<!-- Theme JS -->
<script src="../assets/themes/thedocs/js/theDocs.all.min.js"></script>
<script src="../assets/themes/thedocs/js/theDocs.js"></script>
<!-- End Theme JS -->

<script src="../assets/themes/thedocs/vendors/gaet.js" async></script>

<!-- Sidebar Menu Open at current page -->
<script>
jQuery(function($) {
$(".sidenav a").filter(function() {
return this.href == window.location;
}).addClass('active').closest('ul').prev('a').click();
});
</script>
<!--  END Sidebar Menu Open at current page -->


</body>
</html>
