<div class="bg-parallax parallax-overlay">
    <div class="container pt40 pb40">
        <div class="row">
            <div class="col-lg-9 pt10">
                <h2 class="text-white">
                    Deploying models? There's a tool for that.
                </h2>
            </div>
            <div class="col-lg-3 pt0">
                <a class="btn btn-lg btn-white-outline btn-rounded" href="https://skymind.ai/platform" target="_blank">
                    Learn  More <i class="fa fa-external-link-square-alt"></i>
                </a>
            </div>
        </div>
    </div>
</div><!--cta-->

<footer class="footer footer-standard pt50 pb10">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 mb40">
                <h3>Eclipse Deeplearning4j</h3>
                <p>
                    Eclipse Deeplearning4j is an open-source, distributed deep-learning project in Java and Scala spearheaded by the people at <a href="https://skymind.ai/" target="_blank">Skymind</a>. DL4J supports GPUs and is compatible with distributed computing software such as Apache Spark and Hadoop.
                </p>
                <a href="/about" class="btn btn-white-outline btn-sm btn-rounded">Learn More</a>
            </div>
            <div class="col-lg-2 col-md-6 mb40">
                <h3>Quick links</h3>
                <ul class="list-unstyled footer-list-item">
                    <li>
                        <a href="/about">About</a>
                    </li>
                    <li>
                        <a href="/faq">FAQs</a>
                    </li>
                    <li>
                        <a href="/docs/{{ site.versionString }}/deeplearning4j-contribute">Contribute</a>
                    </li>
                    <li>
                        <a href="/press">Press</a>
                    </li>
                    <li>
                        <a href="/why-deep-learning">Why Deep Learning?</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-6 mb40">
                <h3>&nbsp;</h3>
                <ul class="list-unstyled footer-list-item">
                    <li>
                        <a href="/api/{{site.versionString}}/" target="_blank">API</a>
                    </li>
                    <li>
                        <a href="https://github.com/deeplearning4j/dl4j-examples" target="_blank">Examples</a>
                    </li>
                    <li>
                        <a href="https://github.com/deeplearning4j/deeplearning4j/tree/master/deeplearning4j/dl4j-examples/tutorials">Tutorials</a>
                    </li>
                    <li>
                        <a href="/docs/{{ site.versionString }}/">Guide</a>
                    </li>
                    <li>
                        <a href="/support">Support</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-6 mb40">
                <h3>Statistics</h3>
                <img src="images/github-stats.png" alt="" class="img-fluid">
            </div>
        </div>
    </div>
</footer><!--/footer-->
<div class="footer-bottomAlt">
    <div class="container">
        <div class="row">
              <div class="col-lg-7">
                <div class="clearfix">
                   <a href="https://www.facebook.com/deeplearning4j/" target="_blank" class="social-icon-sm si-dark si-facebook si-dark-round">
                    <i class="fab fa-facebook"></i>
                    <i class="fab fa-facebook"></i>
                </a>
                <a href="https://twitter.com/deeplearning4j" target="_blank" class="social-icon-sm si-dark si-twitter si-dark-round">
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="https://github.com/deeplearning4j/deeplearning4j/" target="_blank" class="social-icon-sm si-dark si-github si-dark-round">
                    <i class="fab fa-github"></i>
                    <i class="fab fa-github"></i>
                </a>
                </div>
            </div>
            <div class="col-lg-5">
                <span>Copyright &copy; 2018. Skymind. DL4J is licensed Apache 2.0.</span>
            </div>
        </div>
    </div>
</div><!--/footer bottom-->
<!--back to top-->
<a href="#" class="back-to-top hidden-xs-down" id="back-to-top"><i class="ti-angle-up"></i></a>
<!-- jQuery first, then Tether, then Bootstrap JS. -->
<script src="/js/plugins/plugins.js"></script> 
<script src="/js/assan.custom.js"></script>

<script type="text/javascript">
    // get started sort
    var $gs = $('.mason-grid-card:contains("Get Started")'),
        gsCopy = $gs.clone()
    $gs.remove()
    $('.mason-grid').first().prepend(gsCopy)
    // keras sort
    var $ki = $('.mason-grid-card:contains("Keras Import")'),
        kiCopy = $ki.clone()
    $ki.remove()
    $('.mason-grid').last().append(kiCopy)

    $('.mason-grid').masonry({
      // options
      itemSelector: '.mason-grid-card',
      columnWidth: '.mason-grid-card',
      transitionDuration  : 0
    });
</script>
