<div class="bg-parallax parallax-overlay">
    <div class="container pt40 pb40">
        <div class="row">
            <div class="col-lg-9 pt10">
                <h2 class="text-white">
                    Deploying models? There's a tool for that.
                </h2>
            </div>
            <div class="col-lg-3 pt0">
                <a class="btn btn-lg btn-white-outline btn-rounded" href="https://skymind.ai/platform" target="_blank">
                    Learn  More <i class="fa fa-external-link-square-alt"></i>
                </a>
            </div>
        </div>
    </div>
</div><!--cta-->

<footer class="footer footer-standard pt50 pb10">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 mb40">
                <h3>Eclipse Deeplearning4j</h3>
                <p>
                    Eclipse Deeplearning4j is an open-source, distributed deep-learning project in Java and Scala spearheaded by the people at <a href="https://skymind.ai/" target="_blank">Skymind</a>. DL4J supports GPUs and is compatible with distributed computing software such as Apache Spark and Hadoop.
                </p>
                <a href="/about" class="btn btn-white-outline btn-sm btn-rounded">Learn More</a>
            </div>
            <div class="col-lg-2 col-md-6 mb40">
                <h3>Quick links</h3>
                <ul class="list-unstyled footer-list-item">
                    <li>
                        <a href="/about">About</a>
                    </li>
                    <li>
                        <a href="/faq">FAQs</a>
                    </li>
                    <li>
                        <a href="/docs/{{ site.versionString }}/deeplearning4j-contribute">Contribute</a>
                    </li>
                    <li>
                        <a href="/press">Press</a>
                    </li>
                    <li>
                        <a href="/why-deep-learning">Why Deep Learning?</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-6 mb40">
                <h3>&nbsp;</h3>
                <ul class="list-unstyled footer-list-item">
                    <li>
                        <a href="/api/{{site.versionString}}/" target="_blank"g>API</a>
                    </li>
                    <li>
                        <a href="https://github.com/deeplearning4j/dl4j-examples" target="_blank">Examples</a>
                    </li>
                    <li>
                        <a href="/tutorials/setup">Tutorials</a>
                    </li>
                    <li>
                        <a href="/docs/{{ site.versionString }}/">Guide</a>
                    </li>
                    <li>
                        <a href="/support">Support</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-6 mb40">
                <h3>Statistics</h3>
                <img src="/images/github-stats.png" alt="" class="img-fluid">
            </div>
        </div>
    </div>
</footer><!--/footer-->
<div class="footer-bottomAlt">
    <div class="container">
        <div class="row">
              <div class="col-lg-7">
                <div class="clearfix">
                   <a href="https://www.facebook.com/deeplearning4j/" target="_blank" class="social-icon-sm si-dark si-facebook si-dark-round">
                    <i class="fab fa-facebook"></i>
                    <i class="fab fa-facebook"></i>
                </a>
                <a href="https://twitter.com/deeplearning4j" target="_blank" class="social-icon-sm si-dark si-twitter si-dark-round">
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="https://github.com/deeplearning4j/deeplearning4j/" target="_blank" class="social-icon-sm si-dark si-github si-dark-round">
                    <i class="fab fa-github"></i>
                    <i class="fab fa-github"></i>
                </a>
                </div>
            </div>
            <div class="col-lg-5">
                <span>Copyright &copy; 2018. Skymind. DL4J is licensed Apache 2.0.</span>
            </div>
        </div>
    </div>
</div><!--/footer bottom-->
<!--back to top-->
<a href="#" class="back-to-top hidden-xs-down" id="back-to-top"><i class="ti-angle-up"></i></a>
<!-- jQuery first, then Tether, then Bootstrap JS. -->
<script src="/js/plugins/plugins.js"></script> 
<script src="/js/assan.custom.js"></script>

<script type="text/javascript">
    // get started sort
    var $gs = $('.mason-grid-card:contains("Get Started")'),
        gsCopy = $gs.clone()
    $gs.remove()
    $('.mason-grid').first().prepend(gsCopy)
    // keras sort
    var $ki = $('.mason-grid-card:contains("Keras Import")'),
        kiCopy = $ki.clone()
    $ki.remove()
    $('.mason-grid').last().append(kiCopy)

    $('.mason-grid').masonry({
      // options
      itemSelector: '.mason-grid-card',
      columnWidth: '.mason-grid-card',
      transitionDuration  : 0
    });
</script>




<!-- Google Analytics -->
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-48811288-1', 'auto');
ga('require', 'linkid', 'linkid.js');
ga('send', 'pageview');
ga('require', 'displayfeatures');
</script>
<!-- End Google Analytics -->

<!-- CrazyEgg -->
<script type="text/javascript">
setTimeout(function(){var a=document.createElement("script");
var b=document.getElementsByTagName("script")[0];
a.src=document.location.protocol+"//script.crazyegg.com/pages/scripts/0025/5605.js?"+Math.floor(new Date().getTime()/3600000);
a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);
</script>
<!-- End CrazyEgg -->

<!-- Start of HubSpot Embed Code -->
<script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/2179705.js"></script>
<!-- End of HubSpot Embed Code -->

<!-- Start Pardot Tracking Code -->
<script type="text/javascript">
piAId = '457082';
piCId = '66281';
piHostname = 'pi.pardot.com';
(function() {
function async_load(){
    var s = document.createElement('script'); s.type = 'text/javascript';
    s.src = ('https:' == document.location.protocol ? 'https://pi' : 'http://cdn') + '.pardot.com/pd.js';
    var c = document.getElementsByTagName('script')[0]; c.parentNode.insertBefore(s, c);
}
if(window.attachEvent) { window.attachEvent('onload', async_load); }
else { window.addEventListener('load', async_load, false); }
})();
</script>
<!-- End Pardot Tracking Code -->

<!-- Start Optimizely -->
<script src="https://cdn.optimizely.com/js/2296590312.js"></script>
<!-- End Optimizely -->
