<div class="top-bar clearfix light">
    <div class="container">
        <div class="float-sm-right">
            <ul class="list-inline mb0">
                <li class="list-inline-item">
                    <a href="https://github.com/deeplearning4j/deeplearning4j/" target="_blank" class="social-icon-sm si-gray si-gray-round si-github">
                        <i class="fab fa-github"></i>
                        <i class="fab fa-github"></i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="https://twitter.com/deeplearning4j" target="_blank" class="social-icon-sm si-gray si-gray-round si-twitter">
                        <i class="fab fa-twitter"></i>
                        <i class="fab fa-twitter"></i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="https://www.facebook.com/deeplearning4j/" target="_blank" class="social-icon-sm si-gray si-gray-round si-facebook">
                        <i class="fab fa-facebook"></i>
                        <i class="fab fa-facebook"></i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="https://gitter.im/deeplearning4j/deeplearning4j" target="_blank" class="social-icon-sm si-gray si-gray-round si-yahoo">
                        <i class="fab fa-gitter"></i>
                        <i class="fab fa-gitter"></i>
                    </a>
                </li>
            </ul>
        </div>
        <div class="float-sm-left">
            <ul class="list-inline mb0 links">
                <li class="list-inline-item"><a href="https://www.amazon.com/Deep-Learning-Practitioners-Adam-Gibson/dp/1491914254" target="_blank">Deep Learning Book</a></li>
                <li class="list-inline-item"><a href="https://www.eclipse.org/" target="_blank">Eclipse Foundation</a></li>
            </ul>
        </div>
    </div>
</div>