.top-bar {
  background-color: #FBFCFE;
  z-index: 100; }

.is-sticky > .navbar {
  background-color: #ffffff; }

.navbar {
  background: transparent; }

.nav-cta {
  top: 11px !important;
  margin-right: 10px; }
