<!DOCTYPE html>
<html lang="en">
    <head>
        
        {% include head.html %}  
        
    </head>

    <body>

        {% include nav.html %}

        <div class="page-titles title-dark pt30 pb20 mb50">
            <div class="container">
                <div class="row">
                    <div class=" col-md-6">
                        <h4><span>{{ page.title }}</span></h4>
                    </div>
                    <div class="col-md-6 mb0">
                        <ol class="breadcrumb text-md-right">
                            <li class="breadcrumb-item"><a href="./">Guide</a></li>
                            <li class="breadcrumb-item active">{{ page.category }}</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        {% assign groups = site.v10-guide | group_by: "category" | sort_by: "name" %}

        <div class="container mb70">
            <div class="row">
                <div class="col-lg-3 pt10 mb40">
                    <div class="mb40">
                        <ul class="list-unstyled categories">

                        {% for group in groups %}
                            {% if group.name != "" %}
                            <li>
                                <h4><button class="no-btn category" type="button" data-toggle="collapse" data-target="#{{ group.name }}collapse"  aria-controls="{{ group.name }}collapse"
                                {% if page.category == group.name %} aria-expanded="true" {% else %} aria-expanded="false" {% endif %}
                                >
                                {{ group.name }}
                                </button></h4>
                                <ul class="list-unstyled collapse {% if page.category == group.name %} show {% endif %}" id="{{ group.name }}collapse">

                                {% assign pages = group.items | sort: "weight"  %}

                                {% for item in pages %}
                                    <li><a href="{{ item.url }}">
                                        {{ item.short_title }} {% if item.title == page.title %} <i class="fa fa-caret-right"></i> {% endif %}
                                    </a></li>
                                {%endfor%}
                                </ul>
                            </li>
                            {% endif %}
                        {%endfor%}
                        </ul>
                    </div>
                </div>
                <div class="col-lg-9 page-content">

                    {{ content }}

                </div>
            </div>
        </div>

        {% include docbtns.html %}
               
        {% include footer.html %}

        <script type="text/javascript">
            $(function() {
                $('.page-content').flowtype({
                    minFont : 12,
                    maxFont : 18
                });
            })
        </script>
    </body>
</html>